:root {
    --white: #ffffff;
    --black: #000000;
    --sbj-red: #e30613;
    --sbj-blue: #1d213f;
    --sbj-white: #ffffff;
    --color-link: #0066a1;
    --color-link-hover: darken(#0066a1, 10%);
    --philips-blue: #1474a4;
    --philips-blue-light: #0096ee;
    --grey: #ebeff2;
}
